<meta charset="UTF-8" />    <!--한글깨짐을 방지.-->
{% extends 'staff/staff_base.html' %}
{% load staticfiles %}

{% block content %}

<div style="border:1px #dedede; width:10; height:10;  overflow:auto;" >
    <table cellspacing="0" class="case03" style="width:85%; margin: 10px 40px;" id="table" name="table">
        <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
        </colgroup>
    </table>         
</div>


    
{% endblock %}