{% extends 'guest/guest_base.html' %}
{% load staticfiles %}

{% block content %}
<br>
<img class="card-img-top" src="{% static 'hotel2.png' %}" alt="Card image cap">
<div>
  <p><br></p>
</div>

<div id=intro>
  <center>
    <H1>ABOUT<H1>
    <H6>저희 호텔은 대한민국 최대규모 호텔그룹입니다.<br> 이제 아시아를 넘어 세계로 뻗어가는 글로벌 호텔로서 전세계 어디에서나 한결같이 품격있는 서비스와 시설로 고객에게<br> 깊은 감동을 주는 브랜드를 지향하고 있습니다.<br>
    균형있는 라이프스타일을 추구하며 품격의 가치를 아는 고객을 위해 세련되고 모던한 감각을 지닌 안락한 객실과<br> 세심한 배려가 묻어나는 서비스를 준비합니다.<H6>
  </center>

</div>
<br>
<br>
<div id = vision>
  <center>
    <H1>VISION<H1>
    <h6>최고의 품격과 신뢰를 바탕으로 고객이 꿈꾸는 라이프스타일을 제공하는 글로벌 선도기업<h6>
  </center>
</div>
<br>
<br>
<br>
<div id = mission>
  <center>
    <h1>MISSION<h1>
    <h6>우리는 Premium Lifestyle을 추구하고 각각의 분야에서 최고의 전문가로 성장한다.<h6>
    <br>
    <h6>우리는 더 많은 고객이 다양한 생활영역에서 우리만의 품격과 자부심을 경험케 한다.<h6>
    <br>
    <h6>우리는 지속적인 혁신과 성장을 통해 인류가 더 나은 삶을 누릴 수 있도록 기여한다.<h6>
    <br>

  </center>
</div>
<br>
<br>

{% endblock %}